<center>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag(@dcd.picture, width: 100) if @dcd.picture.attached? %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Click to Read More About <%= @dcd.full_name %><i class="material-icons right">more_vert</i></span>
      <%if current_user == @dcd.user_id%>
        <%= link_to "Edit", edit_dcd_path(@dcd) %> &nbsp; &nbsp; <%= link_to "Remove", dcd_path(@dcd), method: "delete" %>
      <% end %>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Information<i class="material-icons right">close</i></span>
        <p>Relationship: <%= @dcd.relationship %></p> 
        <p>Gender: <%= @dcd.gender %></p>
        <p>Birthday: <%= @dcd.birthday %></p>
        <p>Death Day: <%= @dcd.deathday %></p>
      </div>
    </div>
  </div>
</div>

<h3>Share Your Memories!</h3>
<% if @dcd.posts %>
  <% @dcd.posts.each do |p| %>
  <div>
    <h2><%= p.title %></h2>
    <%= image_tag(p.picture, width: 200) if p.picture.attached? %>
    <p><%= p.post_content %></p>
  <%= link_to "See Post", dcd_post_path(@dcd, p) %><br><br>
  </div>
  <% end %>
<% end %>

<%= link_to "Add a Post", new_dcd_post_path(@dcd) %>
</center>




