<!DOCTYPE html>
<html>
  <head>
    <title>RIPNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
  </head>

  <body>
    <nav>
    <div class="nav-wrapper grey darken-1">
      <a href="/" class="center brand-logo">RiPNote</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to("Home", root_path) %></li>
          <% unless current_user %>
        <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %></li>
        <li><%= link_to("Log In", user_session_path) %></li>
        <li><%= link_to("Sign Up", new_user_registration_path) %></li>
            <% else %> 
        <li><%= link_to("Deceased", dcds_path) %></li>
        <li><%= link_to("Add A Deceased", new_dcd_path) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %> 
      </ul>
    </nav>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <p><%= error %></p>
      <% end %> 
    <% end %>

    <%= content_tag("p", flash[:notice]) if flash[:notice] %>
     <div class="container">
    <%= yield %>
  </body>
</html>


 <script> $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
        </script>
